name: Build

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set dependencies
        run: |
          sudo apt install -y automake

      - name: install cmake 3.2.2
        run: |
          wget https://github.com/Kitware/CMake/releases/download/v3.2.2/cmake-3.2.2.tar.gz
          tar -zxvf cmake-3.2.2.tar.gz
          cd cmake-3.2.2 && ./bootstrap && make && sudo make install

      - name: List dependencies version
        run: |
          # cmake -E version

      - name: Build
        run: mkdir build && cd build && cmake .. && make
