name: build2

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.9
        with:
          cmake-version: '3.2.2'

      - name: install dependencies
        run: |
          sudo apt install -y make automake bison

      - name: install jdk
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt' # See 'Supported distributions' for available options
          java-version: '11'

      - name: Checkout code
        uses: actions/checkout@v2

      - name: build
        run: |
          ls -l
          mkdir build
          cd build
          cmake ..
          find . -name Makefile | xargs sed -i -e 's#-O3#-g#g'
          make
