name: build2

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: env
        run: |
          docker pull registry.baidubce.com/paddlepaddle/paddle:2.1.2
          docker run --name paddle -it -v $PWD:/paddle registry.baidubce.com/paddlepaddle/paddle:2.1.2 /bin/bash

      - name: Checkout code
        uses: actions/checkout@v2

      - name: build
        run: |
          mkdir build && cd build && cmake .. && make