name: build3

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"

jobs:
  build:
    runs-on: ubuntu-latest
    container: centos:centos7
    steps:    
      - name: env
        run: |
          yum install -y centos-release-scl-rh
          yum-config-manager --enable rhel-server-rhscl-7-rpms
          yum install -y devtoolset-6
          scl enable devtoolset-6 bash
          which gcc
          gcc --version
          g++ --version
          yum install -y make automake
          yum install -y wget
          wget http://anyq.bj.bcebos.com/jdk-8u171-linux-x64.tar.gz
          tar xzvf jdk-8u171-linux-x64.tar.gz
          export PATH=`pwd`/jdk1.8.0_171/bin:$PATH
          wget https://cmake.org/files/v3.3/cmake-3.3.2.tar.gz
          tar -zxvf cmake-3.3.2.tar.gz
          cd cmake-3.3.2/
          ./bootstrap
          gmake
          gmake install
          yum install -y bison
          yum install -y git
      
      - name: build
        run: |
          cd ~
          git clone https://github.com/baidu/AnyQ.git
          cd ./AnyQ
          mkdir build
          cd build
          cmake ..
          make