name: build-hdu

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "**.txt"
      - "mkdocs.yaml"
      - ".readthedocs.yaml"

jobs:
  build:
    runs-on: hdu107
    steps:
      - name: set github mirror
        run: |
        git config --unset url.https://github.com/.insteadof

      - name: Checkout code
        uses: actions/checkout@v2

      - name: set gcc
        run: |
          export CFLAGS="-Wno-error"
          export CXXFLAGS="-Wno-error"
          echo $CFLAGS
          echo $CXXFLAGS

      - name: set github mirror
        run: |
          git config url."https://hub.fastgit.org".insteadOf https://github.com

      - name: build
        run: |
          ls -l
          mkdir build
          cd build
          cmake ..
          make -j32
